body {
  margin: 0;
  padding: 0;
}

.img {
  position: absolute;
  width: 964px;
  height: 964px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  left: 43vw;
}
  
.img img {
  width: 100%;
  margin: 15px 0;
  border-radius: 12px;
}

.img-stripe {
  position: relative;
}

.img .img-stripe {
  width: calc(50% - 15px);
  margin: 12px;
}


@media only screen and (min-width: 1024px) and (max-width: 1280px) {

  .img .stripe1 {
    animation: stripe-one 30s ease 0s infinite;
  }

  @keyframes stripe-one {
    50%{
      transform: translateY(-80vh);
    }
  }
  
  .img .stripe2 {
    transform: translateY(-80vh);
    animation: stripe-two 30s ease 0s infinite;
  }
  
  @keyframes stripe-two {
    50%{
      transform: translateY(0%);
    }
  }
  
  .img .stripe3 {
    animation: stripe-one 35s ease 0s infinite;
  }
  
  @keyframes stripe-three {
    50%{
      transform: translateY(-80vh);
    }
  }  
}

@media only screen and (min-width: 1280px) and (max-width: 1920px) {

  .img .stripe1 {
    animation: stripe-one 30s ease 0s infinite;
  }

  @keyframes stripe-one {
    50%{
      transform: translateY(-110vh);
    }
  }
  
  .img .stripe2 {
    transform: translateY(-110vh);
    animation: stripe-two 30s ease 0s infinite;
  }
  
  @keyframes stripe-two {
    50%{
      transform: translateY(0%);
    }
  }
  
  .img .stripe3 {
    animation: stripe-one 35s ease 0s infinite;
  }
  
  @keyframes stripe-three {
    50%{
      transform: translateY(-110vh);
    }
  }  
}


@media only screen and (min-width: 1920px) and (max-width: 3840px) {

  .img .stripe1 {
    animation: stripe-one 30s ease 0s infinite;
  }

  @keyframes stripe-one {
    50%{
      transform: translateY(-110vh);
    }
  }
  
  .img .stripe2 {
    transform: translateY(-110vh);
    animation: stripe-two 30s ease 0s infinite;
  }
  
  @keyframes stripe-two {
    50%{
      transform: translateY(0%);
    }
  }
  
  .img .stripe3 {
    animation: stripe-one 35s ease 0s infinite;
  }
  
  @keyframes stripe-three {
    50%{
      transform: translateY(-110vh);
    }
  }  
}